In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Invoice_20201220.csv", encoding='latin-1', sep="|")
data

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46"
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82"
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32"
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00"
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37"
...,...,...,...,...,...,...
51427,19767_GEO (0632KO),FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18"
51428,19767_GEO (0632KO),055100058,01/01/2020,31/03/2020,2 163,"283,57"
51429,19767_GEO (0632KO),055100113,01/04/2020,30/06/2020,2 160,"312,55"
51430,19767_GEO (0632KO),055100168,01/07/2020,30/09/2020,2 230,"294,07"
51431,19883_GEO (1203KO),7220278453,27/09/2019,31/12/2019,4 745,"681,96"

In [3]:
#affichage colonne site_name dans le format 3chiffres et deux lettres

data['SITE_NAME'] = data['SITE_NAME'].str[11:17]

print(data)

      SITE_NAME   INVOICE_NAME       BEGIN         END KWH_PERIOD PERIOD_EUR
0        0001BB     1300082549  01/01/2018  31/01/2018      2 447     316,46
1        0001BB     1300082549  01/02/2018  28/02/2018      2 211     286,82
2        0001BB     1300082549  01/03/2018  31/03/2018      2 450     317,32
3        0001BB     1300082549  01/04/2018  30/04/2018      2 431     315,00
4        0001BB     1300082549  01/05/2018  31/05/2018      2 574     333,37
...         ...            ...         ...         ...        ...        ...
51427    0632KO  FV1/055100030  30/08/2019  31/12/2019      3 028     397,18
51428    0632KO      055100058  01/01/2020  31/03/2020      2 163     283,57
51429    0632KO      055100113  01/04/2020  30/06/2020      2 160     312,55
51430    0632KO      055100168  01/07/2020  30/09/2020      2 230     294,07
51431    1203KO     7220278453  27/09/2019  31/12/2019      4 745     681,96

[51432 rows x 6 columns]

In [4]:
#suppression colonne INVOICE_NAME
data = data.drop(columns="INVOICE_NAME")
print(data)

      SITE_NAME       BEGIN         END KWH_PERIOD PERIOD_EUR
0        0001BB  01/01/2018  31/01/2018      2 447     316,46
1        0001BB  01/02/2018  28/02/2018      2 211     286,82
2        0001BB  01/03/2018  31/03/2018      2 450     317,32
3        0001BB  01/04/2018  30/04/2018      2 431     315,00
4        0001BB  01/05/2018  31/05/2018      2 574     333,37
...         ...         ...         ...        ...        ...
51427    0632KO  30/08/2019  31/12/2019      3 028     397,18
51428    0632KO  01/01/2020  31/03/2020      2 163     283,57
51429    0632KO  01/04/2020  30/06/2020      2 160     312,55
51430    0632KO  01/07/2020  30/09/2020      2 230     294,07
51431    1203KO  27/09/2019  31/12/2019      4 745     681,96

[51432 rows x 5 columns]

In [7]:
#ajout colonne calcul jours inclus sur invoice
#to_datetime : convertit sÃ©rie en objet date
data['END'] = pd.to_datetime(data["END"])
data['BEGIN'] = pd.to_datetime(data['BEGIN'])



#dt.days = nombre de jours pour chaque Ã©lÃ©ment de la sÃ©rie
#pd.series permet d'ajouter la serie en colonne Ã  la dataframe

data['DAYS_INVOICE'] = pd.Series( ((data['END'] - data['BEGIN']).dt.days)+1 )
print(data)

      SITE_NAME      BEGIN        END KWH_PERIOD PERIOD_EUR  DAYS_INVOICE
0        0001BB 2018-01-01 2018-01-31      2 447     316,46            31
1        0001BB 2018-01-02 2018-02-28      2 211     286,82            58
2        0001BB 2018-01-03 2018-03-31      2 450     317,32            88
3        0001BB 2018-01-04 2018-04-30      2 431     315,00           117
4        0001BB 2018-01-05 2018-05-31      2 574     333,37           147
...         ...        ...        ...        ...        ...           ...
51427    0632KO 2019-08-30 2019-12-31      3 028     397,18           124
51428    0632KO 2020-01-01 2020-03-31      2 163     283,57            91
51429    0632KO 2020-01-04 2020-06-30      2 160     312,55           179
51430    0632KO 2020-01-07 2020-09-30      2 230     294,07           268
51431    1203KO 2019-09-27 2019-12-31      4 745     681,96            96

[51432 rows x 6 columns]

In [8]:
#crÃ©ation d'une nouvelle colonne KWH  

#on supprime les espaces
data['KWH_NEW'] = data['KWH_PERIOD'].str[0:1]+data['KWH_PERIOD'].str[2:]

#on transforme l'objet en float
data['KWH_NEW']= pd.to_numeric(data['KWH_NEW'], errors='coerce')
print(data)

      SITE_NAME      BEGIN        END KWH_PERIOD PERIOD_EUR  DAYS_INVOICE  \
0        0001BB 2018-01-01 2018-01-31      2 447     316,46            31
1        0001BB 2018-01-02 2018-02-28      2 211     286,82            58
2        0001BB 2018-01-03 2018-03-31      2 450     317,32            88
3        0001BB 2018-01-04 2018-04-30      2 431     315,00           117
4        0001BB 2018-01-05 2018-05-31      2 574     333,37           147
...         ...        ...        ...        ...        ...           ...
51427    0632KO 2019-08-30 2019-12-31      3 028     397,18           124
51428    0632KO 2020-01-01 2020-03-31      2 163     283,57            91
51429    0632KO 2020-01-04 2020-06-30      2 160     312,55           179
51430    0632KO 2020-01-07 2020-09-30      2 230     294,07           268
51431    1203KO 2019-09-27 2019-12-31      4 745     681,96            96

       KWH_NEW
0       2447.0
1       2211.0
2       2450.0
3       2431.0
4       2574.0
...        ...
51427   3028.0
51428   2163.0
51429   2160.0
51430   2230.0
51431   4745.0

[51432 rows x 7 columns]

In [9]:
#suppression colonne KWH_PERIOD
data = data.drop(columns="KWH_PERIOD")
print(data)

      SITE_NAME      BEGIN        END PERIOD_EUR  DAYS_INVOICE  KWH_NEW
0        0001BB 2018-01-01 2018-01-31     316,46            31   2447.0
1        0001BB 2018-01-02 2018-02-28     286,82            58   2211.0
2        0001BB 2018-01-03 2018-03-31     317,32            88   2450.0
3        0001BB 2018-01-04 2018-04-30     315,00           117   2431.0
4        0001BB 2018-01-05 2018-05-31     333,37           147   2574.0
...         ...        ...        ...        ...           ...      ...
51427    0632KO 2019-08-30 2019-12-31     397,18           124   3028.0
51428    0632KO 2020-01-01 2020-03-31     283,57            91   2163.0
51429    0632KO 2020-01-04 2020-06-30     312,55           179   2160.0
51430    0632KO 2020-01-07 2020-09-30     294,07           268   2230.0
51431    1203KO 2019-09-27 2019-12-31     681,96            96   4745.0

[51432 rows x 6 columns]

In [10]:
#calcul de la consommation journaliÃ¨re d'Ã©nergie grÃ¢ce Ã  la nouvelle colonne KWH
DAYLY_AVERAGE_CONSUMPTION = (data['KWH_NEW']/data['DAYS_INVOICE']).round(2)
data['DAYLY_AVERAGE_CONSUMPTION']=pd.Series(DAYLY_AVERAGE_CONSUMPTION)

print(data)

      SITE_NAME      BEGIN        END PERIOD_EUR  DAYS_INVOICE  KWH_NEW  \
0        0001BB 2018-01-01 2018-01-31     316,46            31   2447.0
1        0001BB 2018-01-02 2018-02-28     286,82            58   2211.0
2        0001BB 2018-01-03 2018-03-31     317,32            88   2450.0
3        0001BB 2018-01-04 2018-04-30     315,00           117   2431.0
4        0001BB 2018-01-05 2018-05-31     333,37           147   2574.0
...         ...        ...        ...        ...           ...      ...
51427    0632KO 2019-08-30 2019-12-31     397,18           124   3028.0
51428    0632KO 2020-01-01 2020-03-31     283,57            91   2163.0
51429    0632KO 2020-01-04 2020-06-30     312,55           179   2160.0
51430    0632KO 2020-01-07 2020-09-30     294,07           268   2230.0
51431    1203KO 2019-09-27 2019-12-31     681,96            96   4745.0

       DAYLY_AVERAGE_CONSUMPTION
0                          78.94
1                          38.12
2                          27.84
3                          20.78
4                          17.51
...                          ...
51427                      24.42
51428                      23.77
51429                      12.07
51430                       8.32
51431                      49.43

[51432 rows x 7 columns]

In [11]:
#creation d'un nouveau tableau prÃ©sentant le nombre d'invoices par antenne
NUMBER_OF_INVOICES = (data.groupby(by ='SITE_NAME').size().reset_index(name='INVOICES'))
data_2 = pd.DataFrame(NUMBER_OF_INVOICES)
print(data_2)

     SITE_NAME  INVOICES
0            )        11
1       0001BB        35
2       0001BR        35
3       0001KO        35
4       0002BB        35
...        ...       ...
2398    9513BB         2
2399    9515BB         2
2400    9516BB         2
2401    9517BB         2
2402    9518BB         2

[2403 rows x 2 columns]

In [12]:
#fusion des tableaux data et data_2, but :  associer le nombre d'invoices Ã  chaque antenne sur le tableau de base
data_new = pd.merge(left=data, right=data_2, how="left", left_on="SITE_NAME", right_on="SITE_NAME")
data_new

,SITE_NAME,BEGIN,END,PERIOD_EUR,DAYS_INVOICE,KWH_NEW,DAYLY_AVERAGE_CONSUMPTION,INVOICES
0,0001BB,2018-01-01,2018-01-31,"316,46",31,2447.0,78.94,35
1,0001BB,2018-01-02,2018-02-28,"286,82",58,2211.0,38.12,35
2,0001BB,2018-01-03,2018-03-31,"317,32",88,2450.0,27.84,35
3,0001BB,2018-01-04,2018-04-30,"315,00",117,2431.0,20.78,35
4,0001BB,2018-01-05,2018-05-31,"333,37",147,2574.0,17.51,35
...,...,...,...,...,...,...,...,...
51427,0632KO,2019-08-30,2019-12-31,"397,18",124,3028.0,24.42,4
51428,0632KO,2020-01-01,2020-03-31,"283,57",91,2163.0,23.77,4
51429,0632KO,2020-01-04,2020-06-30,"312,55",179,2160.0,12.07,4
51430,0632KO,2020-01-07,2020-09-30,"294,07",268,2230.0,8.32,4
51431,1203KO,2019-09-27,2019-12-31,"681,96",96,4745.0,49.43,1

In [20]:
data.to_csv(r'/Users/marielebreton/Documents/TheHackingProject/FACTURES_ENERGIE.csv', index=False)