In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("openaq_new.csv", sep=";")
data

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,ES,Ciudad Real,ES1279A,"38.6819799994758,-4.08858",NO2,EEA Spain,µg/m³,8.000,2022-02-08T04:00:00+01:00,Spain
1,ES,Lugo,ES0016R,"42.6347199994649,-7.70472",O3,EEA Spain,µg/m³,35.050,2022-02-08T04:00:00+01:00,Spain
2,ES,Barcelona,ES1018A,"41.5561153974668,2.007401267",O3,EEA Spain,µg/m³,2.000,2021-01-28T01:00:00+01:00,Spain
3,ES,Barcelona,ES1929A,"41.3214952094674,2.09772526",NO2,EEA Spain,µg/m³,42.000,2022-02-08T04:00:00+01:00,Spain
4,ES,Valencia/València,ES2055A,"39.425279999473,-0.4825",O3,EEA Spain,µg/m³,47.000,2022-02-08T04:00:00+01:00,Spain
...,...,...,...,...,...,...,...,...,...,...
41631,US,Visalia-Porterville,Sequoia and Kings Ca,"36.5672,-118.777199",O3,AirNow,ppm,0.034,2021-10-25T19:00:00+02:00,United States
41632,US,IDAHO,Cottonwood E-sampler,"46.061322,-116.3467",PM2.5,AirNow,µg/m³,4.000,2021-10-25T19:00:00+02:00,United States
41633,US,Los Angeles-Long Beach-Santa Ana,LAX-Hastings,"33.95507,-118.43046",CO,AirNow,ppm,0.150,2021-09-16T16:00:00+02:00,United States
41634,US,CA8 - ARB,MMCA82041,"40.882734,-121.653972",PM2.5,AirNow,µg/m³,59.300,2021-09-13T18:00:00+02:00,United States
41635,US,Milwaukee-Waukesha-West Allis,MILWAUKEE SER DNR,"43.0611,-87.9125",PM2.5,AirNow,µg/m³,17.400,2021-04-05T20:00:00+02:00,United States

In [5]:
data['Last Updated'] = pd.to_datetime(data['Last Updated'], utc=True).dt.tz_convert(None)
data_f_dates = data.loc[(data['Last Updated'] >= '2021-08-06 00:00:00') & (data['Last Updated'] < '2021-08-07 00:00:00')]
data_f_dates

Empty DataFrame
Columns: [Country Code, City, Location, Coordinates, Pollutant, Source Name, Unit, Value, Last Updated, Country Label]
Index: []

Empty DataFrame
Columns: [Country Code, City, Location, Coordinates, Pollutant, Source Name, Unit, Value, Last Updated, Country Label]
Index: []